@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@font-face {
  font-family: "my_font";
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF, U+2E80-2EFF, U+0020-007F;
}
@font-face {
  font-family: "my_font";
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: inline-block;
  margin-bottom: -2px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "my_font";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "my_font";
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}

html {
  font-family: "my_font";
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html body {
  width: 100%;
  height: 100%;
}
html body header {
  width: calc(100%);
  height: auto;
  position: fixed;
  z-index: 10;
}
html body header .logoBox {
  width: 100%;
  height: 0px;
  padding-bottom: 13%;
  background: #1acdbb;
}
html body header .logoBox .logo {
  width: 30%;
  height: 0px;
  padding-bottom: 13%;
  background: #000;
  color: #fff;
  text-align: center;
}
html body header .logoBox .logoutBtn {
  display: none;
  width: 23%;
  height: 0%;
  padding-bottom: 8.5%;
  position: absolute;
  top: 7%;
  right: 2%;
  border-radius: 10px;
  background: #dd640b;
  -webkit-box-shadow: 0px 2px 0px 2px #863901, 0px 0px 0px 2px #863901;
          box-shadow: 0px 2px 0px 2px #863901, 0px 0px 0px 2px #863901;
}
html body header .logoBox .logoutBtn.display {
  display: block;
}
html body header .logoBox .logoutBtn::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 25%;
  background: #ffffff60;
  left: 50%;
  top: 5%;
  border-radius: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
html body header .logoBox .logoutBtn::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 65%;
  background: #ffffff40;
  left: 50%;
  top: 5%;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
html body header .logoBox .logoutBtn span {
  display: block;
  width: 88%;
  height: 39%;
  top: 50%;
  background: url("../images/word/logout_btnWord.png") no-repeat;
  background-size: 100%;
  z-index: 3;
}
html body header .marqueeBox {
  width: 100%;
  height: 0px;
  padding-bottom: 8%;
  border: solid 1px #ff7095;
  border-width: 2px 0px 2px 0px;
  background: #ffffffba;
  position: relative;
}
html body header .marqueeBox .news {
  display: inline-block;
  width: 25%;
  height: 0px;
  padding-bottom: 8%;
  background: #ff7095;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  position: relative;
}
html body header .marqueeBox .news span {
  color: #fff;
  position: absolute;
  top: 48%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 17px;
}
html body header .marqueeBox .date {
  display: inline-block;
  width: 22%;
  height: 0px;
  padding-bottom: 8%;
  position: relative;
}
html body header .marqueeBox .date span {
  position: absolute;
  width: 100%;
  height: auto;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: #ff7095;
  font-size: 13px;
}
html body header .marqueeBox marquee {
  position: absolute;
  width: 50%;
  height: auto;
  top: 48%;
  right: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
}
html body main {
  width: 100%;
  height: auto;
  margin-top: 15%;
}
html body main .single-item {
  width: 100%;
  height: auto;
  margin-bottom: 0px !important;
}
html body main .single-item a {
  outline: none;
}
html body main .single-item a .img {
  width: 100%;
  height: 0px;
  padding-bottom: 45.5%;
  background: url("../images/banner.png") no-repeat;
  background-size: 100%;
}
html body main .single-item .slick-dots {
  bottom: 5%;
}
html body main .single-item .slick-dots li {
  margin: 0px 0.5%;
}
html body main .single-item .slick-dots li button:before {
  content: "";
  width: 50%;
  height: 0px;
  padding-bottom: 50%;
  background: transparent;
  border: solid 2px #fff;
  opacity: 1;
  border-radius: 10px;
}
html body main .single-item .slick-dots li.slick-active button:before {
  width: 50%;
  height: 0px;
  padding-bottom: 50%;
  opacity: 1;
  border-radius: 30px;
  background: #8201cd;
}
html body main .midBar {
  width: 100%;
  height: 0px;
  padding-bottom: 20%;
  background: -webkit-gradient(linear, right top, left top, from(#ff527f), to(#8a1b2b));
  background: -o-linear-gradient(right, #ff527f 0%, #8a1b2b 100%);
  background: linear-gradient(to left, #ff527f 0%, #8a1b2b 100%);
  background-color: #8a1b2b;
  position: relative;
}
html body main .midBar .character {
  width: 38%;
  height: 0px;
  padding-bottom: 20%;
  position: relative;
}
html body main .midBar .character.turn .beforeLogin {
  display: none;
}
html body main .midBar .character.turn .afterLogin {
  display: block;
}
html body main .midBar .character .userIC {
  position: absolute;
  width: 13%;
  height: 0px;
  padding-bottom: 15%;
  background: url("../images/userIC.png") no-repeat;
  background-size: 100%;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body main .midBar .character button {
  width: 70%;
  height: 0px;
  padding-bottom: 52%;
  background: transparent;
  float: right;
  text-align: left;
}
html body main .midBar .character button.afterLogin {
  display: none;
}
html body main .midBar .character button.afterLogin span {
  letter-spacing: 0px;
  top: 35%;
}
html body main .midBar .character button.afterLogin span:last-child {
  color: #fff322;
  top: 62%;
}
html body main .midBar .character button span {
  width: 100%;
  color: #fff;
  top: 38%;
  letter-spacing: 2px;
  font-size: 16px;
}
html body main .midBar .character button span:last-child {
  top: 64%;
}
html body main .midBar .btnBox {
  position: absolute;
  width: 58%;
  height: 0px;
  padding-bottom: 15%;
  border: solid 2px #ff5984;
  border-radius: 15px;
  background: #8c1c2c;
  top: 50%;
  left: 38%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
html body main .midBar .btnBox button {
  width: 20%;
  height: 0px;
  padding-bottom: 23%;
  background: url("../images/smallBtn.png") no-repeat;
  background-size: 400%;
  vertical-align: middle;
  margin: 1.5% 0.5% 0px;
}
html body main .midBar .btnBox button:nth-of-type(2) {
  background-position-x: 33%;
}
html body main .midBar .btnBox button:nth-of-type(3) {
  background-position-x: 67%;
}
html body main .midBar .btnBox button:nth-of-type(4) {
  background-position-x: 100%;
}
html body main .mainBox {
  width: 100%;
  height: 48vh;
  text-align: center;
}
html body main .mainBox .gameBox {
  width: 92%;
  height: auto;
  padding-top: 3%;
  margin: 0px auto;
  display: inline-block;
}
html body main .mainBox .gameBox .left {
  width: 27vw;
  height: auto;
  float: left;
}
html body main .mainBox .gameBox .left button {
  width: 100%;
  height: 6vh;
  border-radius: 50px;
  background: #fff;
  border: solid 5px;
  margin-bottom: 1.65vh;
  font-size: 17px;
}
html body main .mainBox .gameBox .left button:last-child {
  margin: 0px;
}
html body main .mainBox .gameBox .left button::before {
  content: "";
  position: absolute;
  width: 87%;
  height: 0px;
  padding-bottom: 13%;
  top: 12%;
  left: 50%;
  border-radius: 15px 15px 0px 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ffffff90));
  background: -o-linear-gradient(bottom, transparent, #ffffff90);
  background: linear-gradient(to top, transparent, #ffffff90);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
html body main .mainBox .gameBox .left button.slot {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #0e6496), color-stop(81%, #1795ce));
  background: -o-linear-gradient(bottom, #0e6496 13%, #1795ce 81%);
  background: linear-gradient(to top, #0e6496 13%, #1795ce 81%);
  background-color: #0e6496;
  border-color: #104167;
  -webkit-box-shadow: 0px 3px 3px 0px #4fe4ff inset;
          box-shadow: 0px 3px 3px 0px #4fe4ff inset;
}
html body main .mainBox .gameBox .left button.fish {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #b1940d), color-stop(81%, #c9ba3a));
  background: -o-linear-gradient(bottom, #b1940d 13%, #c9ba3a 81%);
  background: linear-gradient(to top, #b1940d 13%, #c9ba3a 81%);
  background-color: #b1940d;
  border-color: #5e4f11;
  -webkit-box-shadow: 0px 3px 3px 0px #ffff88 inset;
          box-shadow: 0px 3px 3px 0px #ffff88 inset;
}
html body main .mainBox .gameBox .left button.fish:hover, html body main .mainBox .gameBox .left button.fish:active, html body main .mainBox .gameBox .left button.fish.active {
  background: #294a75;
}
html body main .mainBox .gameBox .left button.fish:hover::after, html body main .mainBox .gameBox .left button.fish:active::after, html body main .mainBox .gameBox .left button.fish.active::after {
  background: #294a75;
}
html body main .mainBox .gameBox .left button.fish span {
  font-size: 14px;
}
html body main .mainBox .gameBox .left button.live {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #7c3675), color-stop(81%, #a24f80));
  background: -o-linear-gradient(bottom, #7c3675 13%, #a24f80 81%);
  background: linear-gradient(to top, #7c3675 13%, #a24f80 81%);
  background-color: #7c3675;
  border-color: #4e2e4b;
  -webkit-box-shadow: 0px 3px 3px 0px #da9ece inset;
          box-shadow: 0px 3px 3px 0px #da9ece inset;
}
html body main .mainBox .gameBox .left button.live:hover, html body main .mainBox .gameBox .left button.live:active, html body main .mainBox .gameBox .left button.live.active {
  background-color: #294770;
}
html body main .mainBox .gameBox .left button.live:hover::after, html body main .mainBox .gameBox .left button.live:active::after, html body main .mainBox .gameBox .left button.live.active::after {
  background-color: #294770;
}
html body main .mainBox .gameBox .left button.sport {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #007671), color-stop(81%, #3a9995));
  background: -o-linear-gradient(bottom, #007671 13%, #3a9995 81%);
  background: linear-gradient(to top, #007671 13%, #3a9995 81%);
  background-color: #007671;
  border-color: #184c4a;
  -webkit-box-shadow: 0px 3px 3px 0px #72e8e3 inset;
          box-shadow: 0px 3px 3px 0px #72e8e3 inset;
}
html body main .mainBox .gameBox .left button.sport:hover, html body main .mainBox .gameBox .left button.sport:active, html body main .mainBox .gameBox .left button.sport.active {
  background-color: #28446a;
}
html body main .mainBox .gameBox .left button.sport:hover::after, html body main .mainBox .gameBox .left button.sport:active::after, html body main .mainBox .gameBox .left button.sport.active::after {
  background-color: #28446a;
}
html body main .mainBox .gameBox .left button.boat {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #dc630a), color-stop(81%, #de921a));
  background: -o-linear-gradient(bottom, #dc630a 13%, #de921a 81%);
  background: linear-gradient(to top, #dc630a 13%, #de921a 81%);
  background-color: #dc630a;
  border-color: #7e2f08;
  -webkit-box-shadow: 0px 3px 3px 0px #ffe168 inset;
          box-shadow: 0px 3px 3px 0px #ffe168 inset;
}
html body main .mainBox .gameBox .left button.boat:hover, html body main .mainBox .gameBox .left button.boat:active, html body main .mainBox .gameBox .left button.boat.active {
  background-color: #274265;
}
html body main .mainBox .gameBox .left button.boat:hover::after, html body main .mainBox .gameBox .left button.boat:active::after, html body main .mainBox .gameBox .left button.boat.active::after {
  background-color: #274265;
}
html body main .mainBox .gameBox .left button.boat span {
  font-size: 13px;
}
html body main .mainBox .gameBox .left button.card {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #e04c80), color-stop(81%, #f081a7));
  background: -o-linear-gradient(bottom, #e04c80 13%, #f081a7 81%);
  background: linear-gradient(to top, #e04c80 13%, #f081a7 81%);
  background-color: #e04c80;
  border-color: #a0214d;
  -webkit-box-shadow: 0px 3px 3px 0px #ffd0f5 inset;
          box-shadow: 0px 3px 3px 0px #ffd0f5 inset;
}
html body main .mainBox .gameBox .left button.card:hover, html body main .mainBox .gameBox .left button.card:active, html body main .mainBox .gameBox .left button.card.active {
  background-color: #284061;
}
html body main .mainBox .gameBox .left button.card:hover::after, html body main .mainBox .gameBox .left button.card:active::after, html body main .mainBox .gameBox .left button.card.active::after {
  background-color: #284061;
}
html body main .mainBox .gameBox .left button.card span {
  font-size: 13px;
}
html body main .mainBox .gameBox .left button:hover, html body main .mainBox .gameBox .left button:active, html body main .mainBox .gameBox .left button.active {
  background: #2a4d7c;
  border-color: #122845;
  border-width: 5px 0px 5px 5px;
  -webkit-box-shadow: 0px 2px 0px 0px #6899da inset;
          box-shadow: 0px 2px 0px 0px #6899da inset;
  border-radius: 50px 0px 0px 50px;
}
html body main .mainBox .gameBox .left button:hover::before, html body main .mainBox .gameBox .left button:active::before, html body main .mainBox .gameBox .left button.active::before {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#0000003d));
  background: -o-linear-gradient(bottom, transparent, #0000003d);
  background: linear-gradient(to top, transparent, #0000003d);
}
html body main .mainBox .gameBox .left button:hover::after, html body main .mainBox .gameBox .left button:active::after, html body main .mainBox .gameBox .left button.active::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  background: #2a4d7c;
  -webkit-box-shadow: 0px 2px 0px 0px #6899da inset;
          box-shadow: 0px 2px 0px 0px #6899da inset;
  border-color: #122845;
  width: 18%;
  height: 100%;
  top: -5px;
  right: -4.6vw;
}
html body main .mainBox .gameBox .left button span {
  width: 100%;
  top: 54%;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
html body main .mainBox .gameBox .right {
  width: 62vw;
  height: auto;
  margin-left: 3vw;
  float: left;
}
html body main .mainBox .gameBox .right .outerBox {
  width: calc(100% - 10px);
  height: calc(44.24vh - 10px);
  background: #fff;
  border: solid 5px #122845;
  background: -webkit-gradient(linear, left bottom, left top, from(#273f5f), to(#2a4d7c));
  background: -o-linear-gradient(bottom, #273f5f, #2a4d7c);
  background: linear-gradient(to top, #273f5f, #2a4d7c);
  background-color: #273f5f;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 0px 0px #6899da inset;
          box-shadow: 0px 2px 0px 0px #6899da inset;
}
html body main .mainBox .gameBox .right .outerBox.firstActive {
  border-radius: 0px 18px 18px 18px;
}
html body main .mainBox .gameBox .right .outerBox.lastActive {
  border-radius: 18px 18px 18px 0px;
}
html body main .mainBox .gameBox .right .outerBox .innerBox {
  width: 80%;
  height: 36vh;
  margin: 6% auto;
  padding: 0px 5% 8%;
  background: #507ab0;
  border: solid 2px #5885c2;
  -webkit-box-shadow: 0px 2px 2px 0px #365276 inset;
          box-shadow: 0px 2px 2px 0px #365276 inset;
  border-radius: 18px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}
html body main .mainBox .gameBox .right .outerBox .innerBox a {
  display: inline-block;
  margin-bottom: 7%;
  height: 0px;
  position: relative;
}
html body main .mainBox .gameBox .right .outerBox .innerBox a span {
  width: 110%;
  color: #fff;
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 14px;
}
html body main .mainBox .gameBox .right .outerBox .innerBox div {
  display: none;
}
html body main .mainBox .gameBox .right .outerBox .innerBox div.display {
  display: block;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a {
  width: 46%;
  height: 0px;
  padding-bottom: 55%;
  background: url("../images/game_icon/slot.png") no-repeat;
  background-size: 500%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a:nth-of-type(odd) {
  margin-right: 5.3%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a.bng {
  background-position-x: 0%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a.pls {
  background-position-x: 25%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a.pt {
  background-position-x: 50%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a.sp div {
  background-position-x: 50%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .slotGame a.cq9 {
  background-position-x: 100%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .fishGame a {
  width: 48%;
  padding-bottom: 47%;
  background: url("../images/game_icon/fish.png") no-repeat;
  background-size: 300%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .fishGame a:nth-of-type(1) {
  background-position-x: 0%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .fishGame a:nth-of-type(2) {
  background-position-x: 50%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .fishGame a:nth-of-type(3) {
  background-position-x: 100%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a {
  width: 46%;
  height: 0px;
  padding-bottom: 55%;
  background: url("../images/game_icon/live.png") no-repeat;
  background-size: 500%;
  margin-bottom: 7%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(odd) {
  margin-right: 4.5%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(1) {
  background-position-x: 0%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(2) {
  background-position-x: 25%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(3) {
  background-position-x: 50%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(4) {
  background-position-x: 75%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .liveGame a:nth-of-type(5) {
  background-position-x: 100%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .sportGame a {
  width: 48%;
  padding-bottom: 47%;
  background: url("../images/game_icon/sport.png") no-repeat;
  background-size: 200%;
  margin-top: 6%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .sportGame a:nth-of-type(2) {
  background-position-x: 100%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .boatGame a {
  width: 48%;
  padding-bottom: 45%;
  background: url("../images/game_icon/boat.png") no-repeat;
  background-size: 100%;
  margin-top: 6%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .cardGame a {
  width: 48%;
  padding-bottom: 47%;
  background: url("../images/game_icon/card.png") no-repeat;
  background-size: 200%;
  margin-top: 6%;
}
html body main .mainBox .gameBox .right .outerBox .innerBox .cardGame a:nth-of-type(2) {
  background-position-x: 100%;
}
html body footer {
  width: 100%;
  height: 0px;
  padding-bottom: 13%;
  position: fixed;
  bottom: 0px;
}
html body footer ul {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#00bdb3), color-stop(65%, #1acdbb), to(#45f7e5));
  background: -o-linear-gradient(top, #00bdb3 0%, #1acdbb 65%, #45f7e5 100%);
  background: linear-gradient(to bottom, #00bdb3 0%, #1acdbb 65%, #45f7e5 100%);
  text-align: center;
  padding: 1% 0%;
}
html body footer ul li {
  display: inline-block;
  width: 19%;
  height: 0px;
  padding-bottom: 11%;
  background: -webkit-gradient(linear, left bottom, left top, from(#007f78), color-stop(65%, #1acdbb), to(#45f7e5));
  background: -o-linear-gradient(bottom, #007f78 0%, #1acdbb 65%, #45f7e5 100%);
  background: linear-gradient(to top, #007f78 0%, #1acdbb 65%, #45f7e5 100%);
  background-color: #007f78;
}
html body footer ul li:hover, html body footer ul li:active, html body footer ul li.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#fc517d), to(#8c1c2c));
  background: -o-linear-gradient(bottom, #fc517d 0%, #8c1c2c 100%);
  background: linear-gradient(to top, #fc517d 0%, #8c1c2c 100%);
  background-color: #8c1c2c;
}
html body footer ul li:hover div, html body footer ul li:active div, html body footer ul li.active div {
  margin-top: -15%;
}
html body footer ul li.home:hover div, html body footer ul li.home:active div, html body footer ul li.home.active div {
  margin-top: -10%;
}
html body footer ul li.home div {
  width: 45%;
  height: 45%;
  margin-top: 5%;
  background-position-x: 0%;
}
html body footer ul li.activeWallet div {
  background-position-x: 25%;
}
html body footer ul li.member div {
  background-position-x: 50%;
}
html body footer ul li.service div {
  background-position-x: 75%;
}
html body footer ul li.teach div {
  background-position-x: 100%;
}
html body footer ul li div {
  margin: 0% auto;
  width: 55%;
  height: 0px;
  padding-bottom: 55%;
  background: url("../images/footerIC.png") no-repeat;
  background-size: 500%;
}
html body .filter {
  display: none;
  width: 100%;
  height: 100%;
  background: #000000d9;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
}
html body .filter.display {
  display: block;
}
html body .jumpBox {
  position: relative;
  z-index: 30;
}
html body .jumpBox .post {
  display: none;
  width: 90%;
  height: auto;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
html body .jumpBox .post.display {
  display: block;
}
html body .jumpBox .post .cancelBtn {
  position: absolute;
  width: 12%;
  height: 0px;
  padding-bottom: 12%;
  background: url("../images/cancelBtn.png") no-repeat;
  background-size: 100%;
  right: 0%;
  top: -13%;
}
html body .jumpBox .post .top {
  width: 100%;
  height: 0px;
  padding-bottom: 36.5%;
  background: url("../images/postBG_01.png") no-repeat;
  background-size: 100%;
  text-align: center;
}
html body .jumpBox .post .top h1 {
  padding: 7% 0px 0px;
  font-weight: bold;
  color: #783c00;
  letter-spacing: 5px;
  font-size: 16px;
}
html body .jumpBox .post .top button {
  width: 23%;
  height: 0px;
  padding-bottom: 10%;
  background: #783c00;
  border-radius: 10px;
  border: solid 3px #3e1f00;
  margin: 9% 0px 0px 0px;
  -webkit-box-shadow: 0px -3px 0px 0px #512800 inset;
          box-shadow: 0px -3px 0px 0px #512800 inset;
}
html body .jumpBox .post .top button:hover, html body .jumpBox .post .top button:active, html body .jumpBox .post .top button.active {
  background: #00aea3;
  -webkit-box-shadow: 0px 4px 0px 0px #00887f inset;
          box-shadow: 0px 4px 0px 0px #00887f inset;
}
html body .jumpBox .post .top button:hover::before, html body .jumpBox .post .top button:active::before, html body .jumpBox .post .top button.active::before {
  background: #00867d;
  top: 70%;
}
html body .jumpBox .post .top button:hover::after, html body .jumpBox .post .top button:active::after, html body .jumpBox .post .top button.active::after {
  background: #00968c;
  top: 30%;
}
html body .jumpBox .post .top button:hover span, html body .jumpBox .post .top button:active span, html body .jumpBox .post .top button.active span {
  background-position-y: 100%;
}
html body .jumpBox .post .top button::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 0px;
  padding-bottom: 10%;
  background: #a4601b;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
  z-index: 1;
}
html body .jumpBox .post .top button::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 0px;
  padding-bottom: 30%;
  background: #8b4b0b;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
}
html body .jumpBox .post .top button:nth-of-type(2) span {
  background-position-x: 50%;
}
html body .jumpBox .post .top button:nth-of-type(3) {
  margin-right: 13%;
}
html body .jumpBox .post .top button:nth-of-type(3) span {
  background-position-x: 100%;
}
html body .jumpBox .post .top button span {
  display: block;
  width: 75%;
  height: 0px;
  padding-bottom: 24%;
  background: url("../images/word/post_btnWord.png") no-repeat;
  background-size: 300%;
  z-index: 1;
}
html body .jumpBox .post .mid {
  width: 100%;
  height: auto;
  background: url("../images/postBG_02.png");
  background-size: 100%;
  padding-bottom: 3%;
}
html body .jumpBox .post .mid .messageBox {
  width: 72%;
  height: auto;
  padding: 0px 4% 3% 4%;
  margin: 0px auto 5%;
  background: #ffd84f;
  border: solid 5px #fff;
  -webkit-box-shadow: 0px 0px 0px 5px #783c00;
          box-shadow: 0px 0px 0px 5px #783c00;
  border-radius: 10px;
}
html body .jumpBox .post .mid .messageBox:last-child {
  margin-bottom: 0px;
}
html body .jumpBox .post .mid .messageBox h1 {
  color: #c80e0e;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 3% 0px;
  letter-spacing: 3px;
  font-size: 16px;
}
html body .jumpBox .post .mid .messageBox h1 span {
  font-size: 0.8rem;
  color: #402000;
  padding-left: 3%;
  font-size: 12px;
}
html body .jumpBox .post .mid .messageBox p {
  font-size: 15px;
}
html body .jumpBox .post .bottom {
  width: 100%;
  height: 0px;
  padding-bottom: 6%;
  background: url("../images/postBG_03.png") no-repeat;
  background-size: 100%;
}
html body .jumpBox .loginWindow {
  display: none;
  width: 90%;
  height: auto;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
html body .jumpBox .loginWindow.display {
  display: block;
}
html body .jumpBox .loginWindow .cancelBtn {
  position: absolute;
  width: 12%;
  height: 0px;
  padding-bottom: 12%;
  background: url("../images/cancelBtn.png") no-repeat;
  background-size: 100%;
  right: 0%;
  top: -20%;
}
html body .jumpBox .loginWindow .top {
  width: 100%;
  height: 0px;
  padding-bottom: 21.5%;
  background: url("../images/postBG_01.png") no-repeat;
  background-size: 100%;
  text-align: center;
}
html body .jumpBox .loginWindow .top h1 {
  padding: 7% 0px 0px;
  font-weight: bold;
  color: #783c00;
  letter-spacing: 5px;
}
html body .jumpBox .loginWindow .mid {
  width: 100%;
  height: auto;
  background: url("../images/postBG_02.png");
  background-size: 100%;
  padding-bottom: 3%;
  text-align: center;
}
html body .jumpBox .loginWindow .mid .inputBox {
  text-align: center;
  margin-bottom: 3%;
}
html body .jumpBox .loginWindow .mid .inputBox input {
  width: 42%;
  height: auto;
  padding: 2% 0px 2% 3%;
  margin-left: 3%;
  border-radius: 10px;
  border: solid 2px #ff9734;
  background: #783c00;
  color: #fff;
}
html body .jumpBox .loginWindow .mid .inputBox span {
  color: #783c00;
}
html body .jumpBox .loginWindow .mid button {
  width: 31.5%;
  height: 0px;
  background: #1acdbb;
  margin: 3%;
  padding-bottom: 12%;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 4px 0px 2px #006f64, 0px 0px 0px 2px #006f64;
          box-shadow: 0px 4px 0px 2px #006f64, 0px 0px 0px 2px #006f64;
}
html body .jumpBox .loginWindow .mid button::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 25%;
  background: #ffffff60;
  left: 50%;
  top: 5%;
  border-radius: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
html body .jumpBox .loginWindow .mid button::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 65%;
  background: #ffffff40;
  left: 50%;
  top: 5%;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
html body .jumpBox .loginWindow .mid button.loginBtn span {
  display: block;
  width: 43%;
  height: 49%;
  background: url("../images/word/login_btnWord.png") no-repeat;
  background-size: 100%;
  z-index: 3;
}
html body .jumpBox .loginWindow .mid button.signupBtn {
  background: #8c1c2c;
  -webkit-box-shadow: 0px 4px 0px 2px #540e18, 0px 0px 0px 2px #540e18;
          box-shadow: 0px 4px 0px 2px #540e18, 0px 0px 0px 2px #540e18;
}
html body .jumpBox .loginWindow .mid button.signupBtn:hover, html body .jumpBox .loginWindow .mid button.signupBtn:active, html body .jumpBox .loginWindow .mid button.signupBtn.active {
  -webkit-box-shadow: 0px 0px 0px 2px #540e18;
          box-shadow: 0px 0px 0px 2px #540e18;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}
html body .jumpBox .loginWindow .mid button.signupBtn span {
  display: block;
  width: 80%;
  height: 49%;
  background: url("../images/word/signup_btnWord.png") no-repeat;
  background-size: 100%;
  z-index: 3;
}
html body .jumpBox .loginWindow .mid button:hover, html body .jumpBox .loginWindow .mid button:active, html body .jumpBox .loginWindow .mid button.active {
  -webkit-box-shadow: 0px 0px 0px 2px #006f64;
          box-shadow: 0px 0px 0px 2px #006f64;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}
html body .jumpBox .loginWindow .bottom {
  width: 100%;
  height: 0px;
  padding-bottom: 6%;
  background: url("../images/postBG_03.png") no-repeat;
  background-size: 100%;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: url("../images/mainBG.png") no-repeat top center;
  background-size: cover;
  z-index: -999;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    html body .bg {
      height: 120%;
    }
  }
}

button {
  position: relative;
}
button span {
  position: absolute;
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 360px) {
  html body header .marqueeBox .news span {
    font-size: 15px;
  }
  html body header .marqueeBox .date span {
    font-size: 12px;
  }
  html body main .midBar .character button span {
    font-size: 13px;
  }
  html body main .mainBox .gameBox .left button {
    font-size: 14px;
  }
  html body main .mainBox .gameBox .left button.fish span, html body main .mainBox .gameBox .left button.boat span, html body main .mainBox .gameBox .left button.card span {
    font-size: 12px;
  }
  html body .jumpBox .post .mid .messageBox h1 span {
    font-size: 12px;
  }
  html body .jumpBox .post .mid .messageBox p {
    font-size: 12px;
  }
}
html body .signupPage .signupWindow {
  width: 80%;
  height: 0%;
  padding-bottom: 10%;
  background: #1b1b1b;
  margin: 0px auto;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 2px 7px 0px 3px #000, 0px -1px 0px 3px #000, 0px 0px 5px #fff inset;
          box-shadow: 2px 7px 0px 3px #000, 0px -1px 0px 3px #000, 0px 0px 5px #fff inset;
}
html body .signupPage .signupWindow h1 {
  color: #fff;
  padding: 6% 0px;
  font-weight: bold;
}
html body .signupPage .signupWindow input {
  width: 70%;
  height: auto;
  padding: 3% 0px 3% 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
}
html body .signupPage .signupWindow input:first-child {
  margin-top: 8%;
}
html body .signupPage .signupWindow button {
  width: 45%;
  height: 0px;
  padding-bottom: 17%;
  background: -webkit-gradient(linear, left bottom, left top, from(#135838), to(#20873b));
  background: -o-linear-gradient(bottom, #135838 0%, #20873b 100%);
  background: linear-gradient(to top, #135838 0%, #20873b 100%);
  background-color: #135838;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 3px 2px rgba(154, 218, 131, 0.81) inset, -2px -2px 3px 2px rgba(0, 0, 0, 0.81) inset;
          box-shadow: 0px 0px 0px 2px #000, 2px 2px 3px 2px rgba(154, 218, 131, 0.81) inset, -2px -2px 3px 2px rgba(0, 0, 0, 0.81) inset;
}
html body .signupPage .signupWindow button:hover, html body .signupPage .signupWindow button:active, html body .signupPage .signupWindow button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#135838), to(#20873b));
  background: -o-linear-gradient(top, #135838 0%, #20873b 100%);
  background: linear-gradient(to bottom, #135838 0%, #20873b 100%);
  background-color: #20873b;
  -webkit-box-shadow: 0px 0px 0px 2px #000, -2px -2px 3px 2px rgba(154, 218, 131, 0.81) inset, 2px 2px 3px 2px rgba(0, 0, 0, 0.81) inset;
          box-shadow: 0px 0px 0px 2px #000, -2px -2px 3px 2px rgba(154, 218, 131, 0.81) inset, 2px 2px 3px 2px rgba(0, 0, 0, 0.81) inset;
}
html body .signupPage .signupWindow button span {
  display: block;
  width: 35%;
  height: 42%;
  background: url("../images/word/signup_btnWord_02.png") no-repeat;
  background-size: 100%;
}
html body .signup_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: url("../images/signup/signup_bg.jpg") no-repeat top center;
  background-size: cover;
  z-index: -999;
}

html body .otherHeader.turn h1 {
  display: none;
}
html body .otherHeader.turn h2 {
  display: block;
}
html body .otherHeader .backBtn {
  width: 6.5%;
  height: 0px;
  padding-bottom: 10%;
  background: url(../images/activeWallet/backArrow.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 54%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3%;
}
html body .otherHeader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
}
html body .otherHeader h2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
}
html body .activeWalletPage {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
}
html body .activeWalletPage .outerPage {
  display: none;
}
html body .activeWalletPage .outerPage.display {
  display: block;
}
html body .activeWalletPage .outerPage .activeWindow {
  width: 88%;
  height: 0px;
  padding-bottom: 47%;
  background: -webkit-gradient(linear, left bottom, left top, from(#273f5f), to(#2a4d7c));
  background: -o-linear-gradient(bottom, #273f5f 0%, #2a4d7c 100%);
  background: linear-gradient(to top, #273f5f 0%, #2a4d7c 100%);
  margin: 3% auto;
  border-radius: 25px;
  border: solid 3px #122845;
  text-align: center;
  -webkit-box-shadow: 0px 0px 2px 1px #577aa9 inset;
          box-shadow: 0px 0px 2px 1px #577aa9 inset;
}
html body .activeWalletPage .outerPage .activeWindow:nth-of-type(2) .img {
  background-position-y: 50%;
}
html body .activeWalletPage .outerPage .activeWindow:nth-of-type(3) .img {
  background-position-y: 100%;
}
html body .activeWalletPage .outerPage .activeWindow .img {
  width: 96%;
  height: 0px;
  padding-bottom: 31.7%;
  background: url("../images/activeWallet/activeWallet_img.png") no-repeat;
  background-size: 100%;
  margin: 2% auto 0%;
}
html body .activeWalletPage .outerPage .activeWindow .imgBox {
  width: 95%;
  height: 0px;
  padding-bottom: 31.7%;
  border: solid 3px #122845;
  border-radius: 15px;
  background: #fff;
  background-size: 100%;
  margin: 2% auto 0%;
  overflow: hidden;
}
html body .activeWalletPage .outerPage .activeWindow button {
  width: 44%;
  height: 0px;
  padding-bottom: 9.5%;
  margin-right: 3%;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  border-radius: 10px;
  border: solid 4px #0d2523;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(42%, #009a8b), to(#1acdbb));
  background: -o-linear-gradient(bottom, #009a8b 42%, #1acdbb 100%);
  background: linear-gradient(to top, #009a8b 42%, #1acdbb 100%);
  -webkit-box-shadow: 0px 3px 0px 0px #44fffb inset;
          box-shadow: 0px 3px 0px 0px #44fffb inset;
}
html body .activeWalletPage .outerPage .activeWindow button::before {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#72f5ee));
  background: -o-linear-gradient(bottom, transparent, #72f5ee);
  background: linear-gradient(to top, transparent, #72f5ee);
  width: 97%;
  height: 50%;
  left: 50%;
  top: 18%;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
html body .activeWalletPage .outerPage .activeWindow button:last-child {
  margin-right: 0px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(42%, #f56684), to(#ff92a9));
  background: -o-linear-gradient(bottom, #f56684 42%, #ff92a9 100%);
  background: linear-gradient(to top, #f56684 42%, #ff92a9 100%);
  -webkit-box-shadow: 0px 3px 0px 0px #ffcbe8 inset;
          box-shadow: 0px 3px 0px 0px #ffcbe8 inset;
}
html body .activeWalletPage .outerPage .activeWindow button:last-child::before {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fdbbd9));
  background: -o-linear-gradient(bottom, transparent, #fdbbd9);
  background: linear-gradient(to top, transparent, #fdbbd9);
}
html body .activeWalletPage .outerPage .activeWindow button span {
  width: 100%;
  top: 52%;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
html body .activeWalletPage .innerPage {
  display: none;
}
html body .activeWalletPage .innerPage.display {
  display: block;
}
html body .activeWalletPage .innerPage section {
  width: 88%;
  height: auto;
  padding-bottom: 3%;
  background: -webkit-gradient(linear, left bottom, left top, from(#273f5f), to(#2a4d7c));
  background: -o-linear-gradient(bottom, #273f5f 0%, #2a4d7c 100%);
  background: linear-gradient(to top, #273f5f 0%, #2a4d7c 100%);
  border: solid 3px #122845;
  -webkit-box-shadow: 0px 0px 2px 1px #577aa9 inset;
          box-shadow: 0px 0px 2px 1px #577aa9 inset;
  border-radius: 25px;
  margin: 3% auto 0%;
}
html body .activeWalletPage .innerPage section .img {
  width: 96%;
  height: 0px;
  padding-bottom: 31.7%;
  background: url("../images/activeWallet/activeWallet_img.png") no-repeat;
  background-size: 100%;
  margin: 2% auto 0%;
}
html body .activeWalletPage .innerPage section .imgBox {
  width: 95%;
  height: 0px;
  padding-bottom: 31.7%;
  border: solid 3px #122845;
  border-radius: 15px;
  background: #fff;
  background-size: 100%;
  margin: 2% auto 0%;
  overflow: hidden;
}
html body .activeWalletPage .innerPage section h1 {
  text-align: center;
  color: #ccff62;
  padding: 5% 0%;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}
html body .normal_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: url("../images/activeWallet/normalBG.png") no-repeat top center;
  background-size: cover;
  z-index: -999;
}