html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    body {
        width: 100%;
        height: 100%;
        //header
        header {
            width: calc(100%);
            height: auto;
            position: fixed;
            z-index: 10;
            //logo
            .logoBox {
                width: 100%;
                height: 0px;
                padding-bottom: 13%;
                background: #1acdbb;
                .logo {
                    width: 30%;
                    height: 0px;
                    padding-bottom: 13%;
                    background: #000;
                    color: #fff;
                    text-align: center;
                }
                .logoutBtn {
                    display: none;
                    width: 23%;
                    height: 0%;
                    padding-bottom: 8.5%;
                    position: absolute;
                    top: 7%;
                    right: 2%;
                    border-radius: 10px;
                    background: #dd640b;
                    box-shadow: 0px 2px 0px 2px #863901, 0px 0px 0px 2px #863901;
                    &.display {
                        display: block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 85%;
                        height: 25%;
                        background: #ffffff60;
                        left: 50%;
                        top: 5%;
                        border-radius: 50px;
                        transform: translateX(-50%);
                        z-index: 2;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 93%;
                        height: 65%;
                        background: #ffffff40;
                        left: 50%;
                        top: 5%;
                        border-radius: 10px;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                    span {
                        display: block;
                        width: 88%;
                        height: 39%;
                        top: 50%;
                        background: url('../images/word/logout_btnWord.png') no-repeat;
                        background-size: 100%;
                        z-index: 3;
                    }
                }
            }
            //marquee
            .marqueeBox {
                width: 100%;
                height: 0px;
                padding-bottom: 8%;
                border: solid 1px #ff7095;
                border-width: 2px 0px 2px 0px;
                background: #ffffffba;
                position: relative;
                .news {
                    display: inline-block;
                    width: 25%;
                    height: 0px;
                    padding-bottom: 8%;
                    background: #ff7095;
                    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
                    position: relative;
                    span {
                        color: #fff;
                        position: absolute;
                        top: 48%;
                        left: 44%;
                        transform: translate(-50%, -50%);
                        font-weight: bold;
                        font-size: 17px;
                    }
                }
                .date {
                    display: inline-block;
                    width: 22%;
                    height: 0px;
                    padding-bottom: 8%;
                    position: relative;
                    span {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        top: 48%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-weight: bold;
                        color: #ff7095;
                        font-size: 13px;
                    }
                }
                marquee {
                    position: absolute;
                    width: 50%;
                    height: auto;
                    top: 48%;
                    right: 0px;
                    transform: translateY(-50%);
                    font-size: 16px;
                }
            }
        }
        //main
        main {
            width: 100%;
            height: auto;
            margin-top: 15%;
            //圖片輪播
            .single-item {
                width: 100%;
                height: auto;
                margin-bottom: 0px !important;
                //圖片
                a {
                    outline: none;
                    .img {
                        width: 100%;
                        height: 0px;
                        padding-bottom: 45.5%;
                        background: url('../images/banner.png') no-repeat;
                        background-size: 100%;
                    }
                }
                //點點位置
                .slick-dots{
                    bottom: 5%;
                }
                //點點間隔
                .slick-dots li {
                    margin: 0px 0.5%;
                }
                //點點被動呈現效果
                .slick-dots li button:before {
                    content: "";
                    width: 50%;
                    height: 0px;
                    padding-bottom: 50%;
                    background: transparent;
                    border: solid 2px #fff;
                    opacity: 1;
                    border-radius: 10px;
                }
                //點點觸發時效果
                .slick-dots li.slick-active button:before {
                    width: 50%;//圖源大小/無圖則與被動時一樣大小
                    height: 0px;
                    padding-bottom: 50%;
                    opacity: 1;
                    // left: -12.5px;//移動位置=(觸發時-被動時)/2
                    // top: -12.5px;
                    border-radius: 30px;
                    background: #8201cd;
                }
            }
            //間隔
            .midBar {
                width: 100%;
                height: 0px;
                padding-bottom: 20%;
                background: linear-gradient(to left,#ff527f 0%,#8a1b2b 100%);
                background-color: #8a1b2b;
                position: relative;
                //玩家資訊
                .character {
                    width: 38%;
                    height: 0px;
                    padding-bottom: 20%;
                    position: relative;
                    &.turn {
                        .beforeLogin {
                            display: none;
                        }
                        .afterLogin {
                            display: block;
                        }
                    }
                    .userIC {
                        position: absolute;
                        width: 13%;
                        height: 0px;
                        padding-bottom: 15%;
                        background: url('../images/userIC.png') no-repeat;
                        background-size: 100%;
                        top: 50%;
                        left: 10%;
                        transform: translateY(-50%);
                    }
                    button {
                        width: 70%;
                        height: 0px;
                        padding-bottom: 52%;
                        background: transparent;
                        float: right;
                        text-align: left;
                        &.afterLogin {
                            display: none;
                            span {
                                letter-spacing: 0px;
                                top: 35%;
                                &:last-child {
                                    color: #fff322;
                                    top: 62%;
                                }
                            }
                        }
                        span {
                            width: 100%;
                            color: #fff;
                            top: 38%;
                            letter-spacing: 2px;
                            font-size: 16px;
                            &:last-child {
                                top: 64%;
                            }
                        }
                    }
                }
                //小按鈕
                .btnBox {
                    position: absolute;
                    width: 58%;
                    height: 0px;
                    padding-bottom: 15%;
                    border: solid 2px #ff5984;
                    border-radius: 15px;
                    background: #8c1c2c;
                    top: 50%;
                    left: 38%;
                    transform: translateY(-50%);
                    text-align: center;
                    button {
                        width: 20%;
                        height: 0px;
                        padding-bottom: 23%;
                        background: url('../images/smallBtn.png') no-repeat;
                        background-size: 400%;
                        vertical-align: middle;
                        margin: 1.5% 0.5% 0px;
                        &:nth-of-type(2) {
                            background-position-x: 33%;
                        }
                        &:nth-of-type(3) {
                            background-position-x: 67%;
                        }
                        &:nth-of-type(4) {
                            background-position-x: 100%;
                        }
                    }
                }
            }
            //主視窗
            .mainBox {
                width: 100%;
                height: 48vh;
                text-align: center;
                //遊戲內容
                .gameBox {
                    width: 92%;
                    height: auto;
                    padding-top: 3%;
                    margin: 0px auto;
                    display: inline-block;
                    //按鈕
                    .left {
                        width: 27vw;
                        height: auto;
                        float: left;
                        button {
                            width: 100%;
                            height: 6vh;
                            border-radius: 50px;
                            background: #fff;
                            border: solid 5px;
                            margin-bottom: 1.65vh;
                            font-size: 17px;
                            &:last-child {
                                margin: 0px;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 87%;
                                height: 0px;
                                padding-bottom: 13%;
                                top: 12%;
                                left: 50%;
                                border-radius: 15px 15px 0px 0px;
                                background: linear-gradient(to top,transparent,#ffffff90);
                                transform: translateX(-50%);
                            }
                            &.slot {
                                background: linear-gradient(to top,#0e6496 13%,#1795ce 81%);
                                background-color: #0e6496;
                                border-color: #104167;
                                box-shadow: 0px 3px 3px 0px #4fe4ff inset;
                            }
                            &.fish {
                                background: linear-gradient(to top,#b1940d 13%,#c9ba3a 81%);
                                background-color: #b1940d;
                                border-color: #5e4f11;
                                box-shadow: 0px 3px 3px 0px #ffff88 inset;
                                &:hover,&:active,&.active {
                                    background: #294a75;
                                    &::after {
                                        background: #294a75;
                                    }
                                }
                                span {
                                    font-size: 14px;
                                }
                            }
                            &.live {
                                background: linear-gradient(to top,#7c3675 13%,#a24f80 81%);
                                background-color: #7c3675;
                                border-color: #4e2e4b;
                                box-shadow: 0px 3px 3px 0px #da9ece inset;
                                &:hover,&:active,&.active {
                                    background-color: #294770;
                                    &::after {
                                        background-color: #294770;
                                    }
                                }
                            }
                            &.sport {
                                background: linear-gradient(to top,#007671 13%,#3a9995 81%);
                                background-color: #007671;
                                border-color: #184c4a;
                                box-shadow: 0px 3px 3px 0px #72e8e3 inset;
                                &:hover,&:active,&.active {
                                    background-color: #28446a;
                                    &::after {
                                        background-color: #28446a;
                                    }
                                }
                            }
                            &.boat {
                                background: linear-gradient(to top,#dc630a 13%,#de921a 81%);
                                background-color: #dc630a;
                                border-color: #7e2f08;
                                box-shadow: 0px 3px 3px 0px #ffe168 inset;
                                &:hover,&:active,&.active {
                                    background-color: #274265;
                                    &::after {
                                        background-color: #274265;
                                    }
                                }
                                span {
                                    font-size: 13px;
                                }
                            }
                            &.card {
                                background: linear-gradient(to top,#e04c80 13%,#f081a7 81%);
                                background-color: #e04c80;
                                border-color: #a0214d;
                                box-shadow: 0px 3px 3px 0px #ffd0f5 inset;
                                &:hover,&:active,&.active {
                                    background-color: #284061;
                                    &::after {
                                        background-color: #284061;
                                    }
                                }
                                span {
                                    font-size: 13px;
                                }
                            }
                            &:hover,&:active,&.active {
                                background: #2a4d7c;
                                border-color: #122845;
                                border-width: 5px 0px 5px 5px;
                                box-shadow: 0px 2px 0px 0px #6899da inset;
                                border-radius: 50px 0px 0px 50px;
                                &::before {
                                    background: linear-gradient(to top,transparent,#0000003d);
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    border-style: solid;
                                    border-width: 5px 0px 5px 0px;
                                    background: #2a4d7c;
                                    box-shadow: 0px 2px 0px 0px #6899da inset;
                                    border-color: #122845;
                                    width: 18%;
                                    height: 100%;
                                    top: -5px;
                                    right: -4.6vw;
                                }
                            }
                            span {
                                width: 100%;
                                top: 54%;
                                color: #fff;
                                text-shadow: 1px 1px 0px #000;
                            }
                        }
                    }
                    //遊戲區
                    .right {
                        width: 62vw;
                        height: auto;
                        margin-left: 3vw;
                        float: left;
                        .outerBox {
                            width: calc(100% - 10px);
                            height: calc(44.24vh - 10px);
                            background: #fff;
                            border: solid 5px #122845;
                            background: linear-gradient(to top,#273f5f,#2a4d7c);
                            background-color: #273f5f;
                            border-radius: 18px;
                            box-shadow: 0px 2px 0px 0px #6899da inset;
                            &.firstActive {
                                border-radius: 0px 18px 18px 18px;
                            }
                            &.lastActive {
                                border-radius: 18px 18px 18px 0px;
                            }
                            .innerBox {
                                width: 80%;
                                height: 36vh;
                                margin: 6% auto;
                                padding: 0px 5% 8%;
                                background: #507ab0;
                                border: solid 2px #5885c2;
                                box-shadow: 0px 2px 2px 0px #365276 inset;
                                border-radius: 18px;
                                text-align: left;
                                overflow-x: hidden;
                                overflow-y: auto;
                                a {
                                    display: inline-block;
                                    margin-bottom: 7%;
                                    height: 0px;
                                    position: relative;
                                    span {
                                        width: 110%;
                                        color: #fff;
                                        position: absolute;
                                        bottom: -20%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        text-align: center;
                                        font-size: 14px;
                                    }
                                }
                                div {
                                    display: none;
                                    &.display {
                                        display: block;
                                    }
                                }
                                .slotGame {
                                    a {
                                        width: 46%;
                                        height: 0px;
                                        padding-bottom: 55%;
                                        background: url('../images/game_icon/slot.png') no-repeat;
                                        background-size: 500%;
                                        &:nth-of-type(odd) {
                                            margin-right: 5.3%;
                                        }
                                        &.bng {
                                            background-position-x: 0%;
                                        }
                                        &.pls {
                                            background-position-x: 25%;
                                        }
                                        &.pt {
                                            background-position-x: 50%;
                                        }
                                        &.sp {
                                            div {
                                                background-position-x: 50%;
                                            }
                                        }
                                        &.cq9 {
                                            background-position-x: 100%;
                                        }
                                    }
                                }
                                .fishGame {
                                    a {
                                        width: 48%;
                                        padding-bottom: 47%;
                                        background: url('../images/game_icon/fish.png') no-repeat;
                                        background-size: 300%;
                                        &:nth-of-type(1) {
                                            background-position-x: 0%;
                                        }
                                        &:nth-of-type(2) {
                                            background-position-x: 50%;
                                        }
                                        &:nth-of-type(3) {
                                            background-position-x: 100%;
                                        }
                                    }
                                }
                                .liveGame {
                                    a {
                                        width: 46%;
                                        height: 0px;
                                        padding-bottom: 55%;
                                        background: url('../images/game_icon/live.png') no-repeat;
                                        background-size: 500%;
                                        margin-bottom: 7%;
                                        &:nth-of-type(odd) {
                                            margin-right: 4.5%;
                                        }
                                        &:nth-of-type(1) {
                                            background-position-x: 0%;
                                        }
                                        &:nth-of-type(2) {
                                            background-position-x: 25%;
                                        }
                                        &:nth-of-type(3) {
                                            background-position-x: 50%;
                                        }
                                        &:nth-of-type(4) {
                                            background-position-x: 75%;
                                        }
                                        &:nth-of-type(5) {
                                            background-position-x: 100%;
                                        }
                                    }
                                }
                                .sportGame {
                                    a {
                                        width: 48%;
                                        padding-bottom: 47%;
                                        background: url('../images/game_icon/sport.png') no-repeat;
                                        background-size: 200%;
                                        margin-top: 6%;
                                        &:nth-of-type(2) {
                                            background-position-x: 100%;
                                        }
                                    }
                                }
                                .boatGame {
                                    a {
                                        width: 48%;
                                        padding-bottom: 45%;
                                        background: url('../images/game_icon/boat.png') no-repeat;
                                        background-size: 100%;
                                        margin-top: 6%;
                                    }
                                }
                                .cardGame {
                                    a {
                                        width: 48%;
                                        padding-bottom: 47%;
                                        background: url('../images/game_icon/card.png') no-repeat;
                                        background-size: 200%;
                                        margin-top: 6%;
                                        &:nth-of-type(2) {
                                            background-position-x: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //footer
        footer {
            width: 100%;
            height: 0px;
            padding-bottom: 13%;
            position: fixed;
            bottom: 0px;
            ul {
                width: 100%;
                height: auto;
                background: linear-gradient(to bottom,#00bdb3 0%,#1acdbb 65%,#45f7e5 100%);
                text-align: center;
                padding: 1% 0%;
                li {
                    display: inline-block;
                    width: 19%;
                    height: 0px;
                    padding-bottom: 11%;
                    background: linear-gradient(to top,#007f78 0%,#1acdbb 65%,#45f7e5 100%);
                    background-color: #007f78;
                    &:hover,&:active,&.active {
                        background: linear-gradient(to top,#fc517d 0%,#8c1c2c 100%);
                        background-color: #8c1c2c;
                        div {
                            margin-top: -15%;
                        }
                    }
                    &.home {
                        &:hover,&:active,&.active {
                            div {
                                margin-top: -10%;
                            }
                        }
                        div {
                            width: 45%;
                            height: 45%;
                            margin-top: 5%;
                            background-position-x: 0%;
                        }
                    }
                    &.activeWallet {
                        div {
                            background-position-x: 25%;
                        }
                    }
                    &.member {
                        div {
                            background-position-x: 50%;
                        }
                    }
                    &.service {
                        div {
                            background-position-x: 75%;
                        }
                    }
                    &.teach {
                        div {
                            background-position-x: 100%;
                        }
                    }
                    div {
                        margin: 0% auto;
                        width: 55%;
                        height: 0px;
                        padding-bottom: 55%;
                        background: url('../images/footerIC.png') no-repeat;
                        background-size: 500%;
                    }
                }
            }
        }
        //黑幕
        .filter {
            display: none;
            width: 100%;
            height: 100%;
            background: #000000d9;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 20;
            &.display {
                display: block;
            }
        }
        //跳窗
        .jumpBox {
            position: relative;
            z-index: 30;
            //公告
            .post {
                display: none;
                width: 90%;
                height: auto;
                position: fixed;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                &.display {
                    display: block;
                }
                //取消按鈕
                .cancelBtn {
                    position: absolute;
                    width: 12%;
                    height: 0px;
                    padding-bottom: 12%;
                    background: url('../images/cancelBtn.png') no-repeat;
                    background-size: 100%;
                    right: 0%;
                    top: -13%;
                }
                .top {
                    width: 100%;
                    height: 0px;
                    padding-bottom: 36.5%;
                    background: url('../images/postBG_01.png') no-repeat;
                    background-size: 100%;
                    text-align: center;
                    h1 {
                        padding: 7% 0px 0px;
                        font-weight: bold;
                        color: #783c00;
                        letter-spacing: 5px;
                        font-size: 16px;
                    }
                    button {
                        width: 23%;
                        height: 0px;
                        padding-bottom: 10%;
                        background: #783c00;
                        border-radius: 10px;
                        border: solid 3px #3e1f00;
                        margin: 9% 0px 0px 0px;
                        box-shadow: 0px -3px 0px 0px #512800 inset;
                        &:hover,&:active,&.active {
                            background: #00aea3;
                            box-shadow: 0px 4px 0px 0px #00887f inset;
                            &::before {
                                background: #00867d;
                                top: 70%;
                            }
                            &::after {
                                background: #00968c;
                                top: 30%;
                            }
                            span {
                                background-position-y: 100%;
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            width: 95%;
                            height: 0px;
                            padding-bottom: 10%;
                            background: #a4601b;
                            top: 8%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-radius: 50px;
                            z-index: 1;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            width: 95%;
                            height: 0px;
                            padding-bottom: 30%;
                            background: #8b4b0b;
                            top: 8%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-radius: 10px;
                        }
                        &:nth-of-type(2) {
                            span {
                                background-position-x: 50%;
                            }
                        }
                        &:nth-of-type(3) {
                            margin-right: 13%;
                            span {
                                background-position-x: 100%;
                            }
                        }
                        span {
                            display: block;
                            width: 75%;
                            height: 0px;
                            padding-bottom: 24%;
                            background: url('../images/word/post_btnWord.png') no-repeat;
                            background-size: 300%;
                            z-index: 1;
                        }
                    }
                }
                .mid {
                    width: 100%;
                    height: auto;
                    background: url('../images/postBG_02.png');
                    background-size: 100%;
                    padding-bottom: 3%;
                    .messageBox {
                        width: 72%;
                        height: auto;
                        padding: 0px 4% 3% 4%;
                        margin: 0px auto 5%;
                        background: #ffd84f;
                        border: solid 5px #fff;
                        box-shadow: 0px 0px 0px 5px #783c00;
                        border-radius: 10px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        h1 {
                            color: #c80e0e;
                            letter-spacing: 1px;
                            font-weight: bold;
                            padding: 3% 0px;
                            letter-spacing: 3px;
                            font-size: 16px;
                            span {
                                font-size: 0.8rem;
                                color: #402000;
                                padding-left: 3%;
                                font-size: 12px;
                            }
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                }
                .bottom {
                    width: 100%;
                    height: 0px;
                    padding-bottom: 6%;
                    background: url('../images/postBG_03.png') no-repeat;
                    background-size: 100%;
                }
            }
            //登入窗
            .loginWindow {
                display: none;
                width: 90%;
                height: auto;
                position: fixed;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                &.display {
                    display: block;
                }
                //取消按鈕
                .cancelBtn {
                    position: absolute;
                    width: 12%;
                    height: 0px;
                    padding-bottom: 12%;
                    background: url('../images/cancelBtn.png') no-repeat;
                    background-size: 100%;
                    right: 0%;
                    top: -20%;
                }
                .top {
                    width: 100%;
                    height: 0px;
                    padding-bottom: 21.5%;
                    background: url('../images/postBG_01.png') no-repeat;
                    background-size: 100%;
                    text-align: center;
                    h1 {
                        padding: 7% 0px 0px;
                        font-weight: bold;
                        color: #783c00;
                        letter-spacing: 5px;
                    }
                }
                .mid {
                    width: 100%;
                    height: auto;
                    background: url('../images/postBG_02.png');
                    background-size: 100%;
                    padding-bottom: 3%;
                    text-align: center;
                    .inputBox {
                        text-align: center;
                        margin-bottom: 3%;
                        input {
                            width: 42%;
                            height: auto;
                            padding: 2% 0px 2% 3%;
                            margin-left: 3%;
                            border-radius: 10px;
                            border: solid 2px #ff9734;
                            background: #783c00;
                            color: #fff;
                        }
                        span {
                            color: #783c00;
                        }
                    }
                    button {
                        width: 31.5%;
                        height: 0px;
                        background: #1acdbb;
                        margin: 3%;
                        padding-bottom: 12%;
                        border-radius: 10px;
                        position: relative;
                        box-shadow: 0px 4px 0px 2px #006f64, 0px 0px 0px 2px #006f64;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 85%;
                            height: 25%;
                            background: #ffffff60;
                            left: 50%;
                            top: 5%;
                            border-radius: 50px;
                            transform: translateX(-50%);
                            z-index: 2;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            width: 93%;
                            height: 65%;
                            background: #ffffff40;
                            left: 50%;
                            top: 5%;
                            border-radius: 10px;
                            transform: translateX(-50%);
                            z-index: 1;
                        }
                        &.loginBtn {
                            span {
                                display: block;
                                width: 43%;
                                height: 49%;
                                background: url('../images/word/login_btnWord.png') no-repeat;
                                background-size: 100%;
                                z-index: 3;
                            }
                        }
                        &.signupBtn {
                            background: #8c1c2c;
                            box-shadow: 0px 4px 0px 2px #540e18, 0px 0px 0px 2px #540e18;
                            &:hover,&:active,&.active {
                                box-shadow: 0px 0px 0px 2px #540e18;
                                transform: translateY(10%);
                            }
                            span {
                                display: block;
                                width: 80%;
                                height: 49%;
                                background: url('../images/word/signup_btnWord.png') no-repeat;
                                background-size: 100%;
                                z-index: 3;
                            }
                        }
                        &:hover,&:active,&.active {
                            box-shadow: 0px 0px 0px 2px #006f64;
                            transform: translateY(10%);
                        }
                    }
                }
                .bottom {
                    width: 100%;
                    height: 0px;
                    padding-bottom: 6%;
                    background: url('../images/postBG_03.png') no-repeat;
                    background-size: 100%;
                }
            }
        }
        //背景
        .bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            background: url('../images/mainBG.png') no-repeat top center;
            background-size: cover;
            z-index: -999;
            @media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none){
                height: 120%;
            }}        
        }
    }
}
button {
    position: relative;
    span {
        position: absolute;
        left: 50%;
        top: 46%;
        transform: translate(-50%,-50%);
    }
}
//小規格
@media only screen and (max-width:360px) {
    html {
        body {
            header {
                .marqueeBox {
                    .news {
                        span {
                            font-size: 15px;
                        }
                    }
                    .date {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
            main {
                .midBar {
                    .character {
                        button {
                            span {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .mainBox {
                    .gameBox {
                        .left {
                            button {
                                font-size: 14px;
                                &.fish,&.boat,&.card {
                                    span {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .jumpBox {
                .post {
                    .mid {
                        .messageBox {
                            h1 {
                                span {
                                    font-size: 12px;
                                }
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}